.input_container {
	width: 2px;
	height: 42px;

	padding: 0px 0.1px 0.1px 0px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 4.9px;

	flex-shrink: 0;
}

.title_input {
	width: 103px;
	font-size: 12px;
	font-family: Work Sans;
	font-weight: 300;

	color: #7c7c7c;
}

input {
	width: 234.5px;
	height: 29px;
	padding: 0px 0.1px 0.1px 0px;

	background: transparent;
    border: none;
    border-bottom: 1px solid #F2F2F2;

	font-size: 14px;
	font-family: Work Sans;

	color: #111;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.radio_button{
	width: 20px;
	height: 16px;

	transform: scale(1);
	/* border: 2px solid rgb(255, 0, 132);
	background-color: red;  */
}
